Source: sacd
Section: sound
Priority: optional
Maintainer: Robert Tari <robert.tari@gmail.com>
Build-Depends: debhelper (>= 9), g++-4.9
Standards-Version: 3.9.6
Homepage: https://tari.in/www/eng/software/sacd/

Package: sacd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Super Audio CD decoder
 Converts SACD image files, Philips DSDIFF and Sony DSF files to
 24-bit 96kHz high resolution wave files. Handles both DST and DSD
 streams.
